*.pdf
*.eps
*-generated
*.pickle
*.pyptex
*.aux
*.bbl
*.bib
*.blg
*.log
*.pyplog
*.synctex.gz
*.txt
test.tex
testgen*
*.egg-info
__pycache__
*~
doc
build
dist
.DS_Store
!tests/test?/testgold?/*
!examples/*.pdf
